[
  {
    "_comment": "Example 1: Skeleton holding a bow - Drop extra arrows",
    "entityId": "minecraft:skeleton",
    "itemId": "minecraft:air",
    "dropChance": 0.0,
    "minAmount": 0,
    "maxAmount": 0,
    "nbtEntityData": "HandItems[0].id",
    "nbtDataCondition": "==",
    "nbtDataValue": "minecraft:bow",
    "nbtEntityDrop": "minecraft:arrow",
    "nbtEntityDropChance": 100.0,
    "nbtEntityDropMin": 16,
    "nbtEntityDropMax": 32,
    "requirePlayerKill": true
  },
  {
    "_comment": "Example 2: Zombie holding a sword - Drop iron ingots",
    "entityId": "minecraft:zombie",
    "itemId": "minecraft:air",
    "dropChance": 0.0,
    "minAmount": 0,
    "maxAmount": 0,
    "nbtEntityData": "HandItems[0].id",
    "nbtDataCondition": "contains",
    "nbtDataValue": "sword",
    "nbtEntityDrop": "minecraft:iron_ingot",
    "nbtEntityDropChance": 75.0,
    "nbtEntityDropMin": 2,
    "nbtEntityDropMax": 5
  },
  {
    "_comment": "Example 3: Mob wearing diamond helmet - Drop diamonds",
    "itemId": "minecraft:air",
    "dropChance": 0.0,
    "minAmount": 0,
    "maxAmount": 0,
    "nbtEntityData": "ArmorItems[3].id",
    "nbtDataCondition": "==",
    "nbtDataValue": "minecraft:diamond_helmet",
    "nbtEntityDrop": "minecraft:diamond",
    "nbtEntityDropChance": 100.0,
    "nbtEntityDropMin": 1,
    "nbtEntityDropMax": 3
  },
  {
    "_comment": "Example 4: Mob wearing any armor - Drop leather",
    "itemId": "minecraft:air",
    "dropChance": 0.0,
    "minAmount": 0,
    "maxAmount": 0,
    "nbtEntityData": "ArmorItems[0].id",
    "nbtDataCondition": "!=",
    "nbtDataValue": "",
    "nbtEntityDrop": "minecraft:leather",
    "nbtEntityDropChance": 50.0,
    "nbtEntityDropMin": 1,
    "nbtEntityDropMax": 2
  },
  {
    "_comment": "Example 5: Piglin holding gold - Drop extra gold",
    "entityId": "minecraft:piglin",
    "itemId": "minecraft:air",
    "dropChance": 0.0,
    "minAmount": 0,
    "maxAmount": 0,
    "nbtEntityData": "HandItems[0].id",
    "nbtDataCondition": "contains",
    "nbtDataValue": "gold",
    "nbtEntityDrop": "minecraft:gold_ingot",
    "nbtEntityDropChance": 100.0,
    "nbtEntityDropMin": 3,
    "nbtEntityDropMax": 7
  }
]