[
  {
    "itemId": "minecraft:golden_apple",
    "dropChance": 0.5,
    "minAmount": 1,
    "maxAmount": 1,
    "nbtData": "{Enchantments:[{id:\"minecraft:sharpness\",lvl:5s}]}",
    "requiredAdvancement": "minecraft:story/mine_diamond",
    "requiredEffect": "minecraft:strength",
    "requiredEquipment": "minecraft:diamond_sword",
    "requiredWeather": "rain",
    "requiredTime": "night",
    "requiredDimension": "minecraft:overworld",
    "requiredBiome": "minecraft:forest",
    "command": "effect give {player} minecraft:regeneration 30 1",
    "commandChance": 50.0,
    "commandCoolDown": 300,
    "dropCommand": "playsound minecraft:entity.player.levelup player {player}",
    "dropCommandChance": 100.0,
    "_comment": "Comprehensive example with all possible fields",
    "requirePlayerKill": true,
    "allowDefaultDrops": true,
    "allowModIDs": ["examplemod:special_item"],
    "extraDropChance": 10.0,
    "extraAmountMin": 1,
    "extraAmountMax": 3
  }
]